@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/alejombkm/WebSitePlatzi"> Github and continue integration in my persona repo</a>.</p>
</div>
